<!DOCTYPE html>
<html>
  <head>
    <title>실시간 게임방</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css" type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="game-table">
        <div class="title">진행중인 게임</div>
          <% filteredTables.forEach((rows, indexs) => { %>
            <form action="/joinGame" method="post" id="joinForm">
                <button type="submit" class="game-btn" data-table-name="<%= rows.Tables_in_allcover %>">
                  <span><%= rows.Tables_in_allcover %></span>
                </button>
                <div class="layout"></div>
              <input type="hidden" value="<%= rows.Tables_in_allcover %>" name="joinGame">
              <% result.forEach((row, index) => { %>
              <input type="hidden" value="<%= row.memName %>" name="memName">
              <input type="hidden" value="<%= row.memAvg %>" name="memAvg">
              <% }) %>
            </form>
          <% }); %>
      </div>
      <div class="createGame">
        <div class="title">게임 생성</div>
        <form action="/createGame" method="post">
          <input type="text" name="gameName" class="gameName" placeholder="Game Name">
          
          <% result.forEach((row, index) => { %>
            <input type="hidden" name="userName" value="<%= row.memName %>" >
            <input type="hidden" name="userAvg" value="<%= row.memAvg %>" >
            <% }); %>
            <p>
            <input type="submit" value="생성" class="game-btn2">
            </p>
            <div class="check">
            <p>게임 생성 시 체크사항</p>
            <p>1. 게임이름은 숫자로 시작할 수 없습니다.</p>
            <p>2. 게임이름 사이의 공백을 허용하지 않습니다.</p>
            <p>4. 게임이름에는 특수문자를 포함할 수 없습니다.</p>
            <p>진행중인 게임목록에서</p>
            <p>참가하고 싶은 게임의 버튼을 클릭하세요!</p>
          </div>
          </form>
      </div>
    </div>
      <script>
        const gameButtons = document.querySelectorAll('.game-button');
        const joinForm = document.getElementById('joinForm');
      
        gameButtons.forEach(button => {
          button.addEventListener('click', e => {
            e.preventDefault();
            const tableName = button.getAttribute('data-table-name');
            const joinGameInput = document.querySelector('input[name="joinGame"]');
            joinGameInput.value = tableName;
            joinForm.submit();
          });
        });
        
        const inputElement = document.querySelector('.gameName');

        inputElement.addEventListener('input', (event) => {
          const value = event.target.value;
          event.target.value = value.replace(/[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9\s]/g, '');
        });
      </script>
    
  </body>
</html>