<!DOCTYPE html>
<html>
  <head>
    <title>실시간 게임방</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/stylesheets/selectgame" type='text/css'>
  </head>
  <body>
    <div id="game-table">
      <table>
        <tr>
          <th>No.</th>
          <th>게임 이름</th>
        </tr>
        <% filteredTables.forEach((rows, indexs) => { %>
        <tr>
          <form action="/joinGame" method="post" id="joinForm">
            <th><%= indexs + 1 %></th>
            <th>
              <button type="submit" class="game-button" data-table-name="<%= rows.Tables_in_allcover %>">
                <%= rows.Tables_in_allcover %>
              </button>
            </th>
            <input type="hidden" value="<%= rows.Tables_in_allcover %>" name="joinGame">
            <% result.forEach((row, index) => { %>
            <input type="hidden" value="<%= row.memName %>" name="memName">
            <input type="hidden" value="<%= row.memAvg %>" name="memAvg">
            <% }) %>
          </form>
        </tr>
        <% }); %>
      </table>
      <form action="/createGame" method="post">
      <div id="createGame">
        게임 이름<input type="text" name="gameName" placeholder="올커버 xx회 정기모임">
        <% result.forEach((row, index) => { %>
          <input type="hidden" name="userName" value="<%= row.memName %>" >
          <input type="hidden" name="userAvg" value="<%= row.memAvg %>" >
          <% }); %>
          <input type="submit" value="생성">
      </div>
    </form>
      <script>
        const gameButtons = document.querySelectorAll('.game-button');
        const joinForm = document.getElementById('joinForm');
      
        gameButtons.forEach(button => {
          button.addEventListener('click', e => {
            e.preventDefault();
            const tableName = button.getAttribute('data-table-name');
            const joinGameInput = document.querySelector('input[name="joinGame"]');
            joinGameInput.value = tableName;
            joinForm.submit();
          });
        });
        window.onload = function() {
                preventBack();
                    window.onpageshow = function(event) {
                        if (event.persisted) {
                            preventBack();
                        }
                };
            };
      </script>
    
  </body>
</html>