<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css" type='text/css'>
    <title>Allcover</title>
</head>
<body>
    <div class="nav-title">
        <h1><%= gameName %></h1>
    </div>
    <div class="scoreboardSection">
        <li>
            <button class="section-btn" id="userScore">개인 점수표</button>
            <button class="section-btn" id="teamScore">팀 점수표</button>
            <button class="section-btn" id="Ceremony">시상 표 </button>       
        </li>
    </div>
    <div class="teamScore" style="display: none;">
        <div>
            <form method="post" action="/resetTeam">
                <% userName.forEach((row, index) => { %>
                    <input type="hidden" name="resetTeamuserName" value="<%= row.userName%>">
                <% }) %>
                <input type="hidden" name="resetTeamGameName" value="<%= gameName %>">
                <input type="submit" value="reset">
            </form>
        </div>
        <% for(var i = 0; i < 7; i++) { %>
            <table id="team<%= [i + 1] %>">
                <tr>
                    <% var teamSize = teams["teamScore" + (i + 1)].length + 1; %>
                    <th rowspan="<%= teamSize %>">Team<%= [i + 1] %></th>
                    <th>No.</th>
                    <th>이름</th>
                    <th>에버</th>
                    <th>1Game</th>
                    <th>1Game(+/-)</th>
                    <th>2Game</th>
                    <th>2Game(+/-)</th>
                    <th>3Game</th>
                    <th>3Game(+/-)</th>
                    <th>4Game</th>
                    <th>4Game(+/-)</th>
                </tr>
                <% if (teams["teamScore" + (i + 1)]) { %>
                    <% teams["teamScore" + (i + 1)].forEach((row, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= row.userName %></td>
                            <td><%= row.userAvg %></td>
                            <td class="game-cell" id="1Game"><%= row['1Game'] %></td>
                            <td class="game_P_M-cell"><%= row['1Game_P_M'] %></td>
                            <td class="game-cell" id="2Game"><%= row['2Game'] %></td>
                            <td class="game_P_M-cell"><%= row['2Game_P_M'] %></td>
                            <td class="game-cell" id="3Game"><%= row['3Game'] %></td>
                            <td class="game_P_M-cell"><%= row['3Game_P_M'] %></td>
                            <td class="game-cell" id="4Game"><%= row['4Game'] %></td>
                            <td class="game_P_M-cell"><%= row['4Game_P_M'] %></td>
                        </tr>
                    <% }) %>
                <% } %>
                <tr>
                    <th colspan="4">합계</th>
                    <% if (teamScores["team" + (i + 1)]) { %>
                        <% teamScores["team" + (i + 1)].forEach((row, index) => { %>
                            <td class="game-cell"><%= row.sum_game1 %></td>
                            <td><%= row.sum_1game_p_m %></td>
                            <td class="game-cell"><%= row.sum_game2 %></td>
                            <td><%= row.sum_2game_p_m %></td>
                            <td class="game-cell"><%= row.sum_game3 %></td>
                            <td><%= row.sum_3game_p_m %></td>
                            <td class="game-cell"><%= row.sum_game4 %></td>
                            <td><%= row.sum_4game_p_m %></td>
                        <% }) %>
                    <% } %>
                </tr>
                <tr>
                    <th colspan="4">순위</th>
                    <% teamRank.forEach((row) =>{ %>
                        <% if(row.teamNumber == [i + 1]) {%>
                        <td colspan="2"><%= row.ranking_1Game_P_M %>등</td>
                        <td colspan="2"><%= row.ranking_2Game_P_M %>등</td>
                        <td colspan="2"><%= row.ranking_3Game_P_M %>등</td>
                        <td colspan="2"><%= row.ranking_4Game_P_M %>등</td>
                        <% } %>
                    <% }) %>
                </tr>
            </table>
            <form method="post" action="/teamJoin">
                <input type="hidden" name="teamNumber" value="<%= [i + 1] %>">
                <input type="hidden" name="joinGameName" value="<%= gameName %>">
                <% userName.forEach((row, index) => { %>
                    <input type="hidden" name="joinGameuserName" value="<%= row.userName%>">
                    <input type="hidden" name="joinGameuseravg" value="<%= row.userAvg %>" >
                <% }) %>
                <input type="submit" value="참가">
            </form>
        <% } %>
    </div>
    <div class="table-center" style="overflow-x: auto; overflow-y: auto;">
            <table class="user-table">
                <tr class="main-tr">
                    <th>순 위</th>
                    <th>이 름</th>
                    <th>에 버</th>
                    <th class="origin_game">1Game</th>
                    <th>1G(+/-)</th>
                    <th class="origin_game">2Game</th>
                    <th>2G(+/-)</th>
                    <th class="origin_game">3Game</th>
                    <th>3G(+/-)</th>
                    <th class="origin_game">4Game</th>
                    <th>4G(+/-)</th>
                    <th>총 핀</th>
                    <th>평 균</th>
                    <th>최고점수</th>
                    <th>최저점수</th>
                </tr>
                <% results.forEach((row, index) => { %>
                <tr class="<%= row.userName %>" id="<%= row.userName %>" value="<%= row.userName %>">
                    <td><%= index + 1 %></td>
                    <td><%= row.userName %></td>
                    <td><%= row.userAvg %></td>
                    <td class="game-cell" id="Game1<%= row.userName %>"><%= row['1Game'] %></td>
                    <td class="game_P_M-cell"><%= row['1Game_P_M'] %></td>
                    <td class="game-cell" id="Game2<%= row.userName %>"><%= row['2Game'] %></td>
                    <td class="game_P_M-cell"><%= row['2Game_P_M'] %></td>
                    <td class="game-cell" id="Game3<%= row.userName %>"><%= row['3Game'] %></td>
                    <td class="game_P_M-cell"><%= row['3Game_P_M'] %></td>
                    <td class="game-cell" id="Game4<%= row.userName %>"><%= row['4Game'] %></td>
                    <td class="game_P_M-cell"><%= row['4Game_P_M'] %></td>
                    <td class="total"><%= row.userTotal %></td>
                    <td class="userThisAvg"><%= row.userThisAvg %></td>
                    <td><%= row.userHigh %></td>
                    <td><%= row.userLow %></td>
                </tr>
                <% }); %>
            </table>
        </div>
        <div class="ceremony" style="display: none;">
            <div class="game_setting">
                <form method="post" action="/gameSetting">
                    <input type="hidden" name="gameSettingGameName" value="<%= gameName %>">
                    <% userName.forEach((row) =>{ %>
                        <input type="hidden" name="gameSettingUserName" value="<%= row.userName %>">
                    <% }) %>
                    <table>
                        <tr>
                            <th rowspan="2">No.</th>
                            <th rowspan="2">이름</th>
                            <th rowspan="2">에버</th>
                            <th>군 설정</th>
                            <th rowspan="2">1군 판게임</th>
                            <th rowspan="2">에버 판게임</th>
                        </tr>
                        <tr>
                            <th>1군 2군 3군 4군</th>
                        </tr>
                        <% settings.forEach((row, index) => { %>
                        <tr>
                            <th><%= index + 1 %></th>
                            <td><%= row.userName %></td>
                            <td><%= row.userAvg %></td>
                            <td>
                                <input type="hidden" name="gameSettings[<%= index %>][userName]" value="<%= row.userName %>">
                                <input type="radio" name="gameSettings[<%= index %>][grade]" value="1" <%= row.grade === 1 ? 'checked' : '' %>>
                                <input type="radio" name="gameSettings[<%= index %>][grade]" value="2" <%= row.grade === 2 ? 'checked' : '' %>>
                                <input type="radio" name="gameSettings[<%= index %>][grade]" value="3" <%= row.grade === 3 ? 'checked' : '' %>>
                                <input type="radio" name="gameSettings[<%= index %>][grade]" value="4" <%= row.grade === 4 ? 'checked' : '' %>>
                            </td>
                            <td><input type="checkbox" name="gameSettings[<%= index %>][grade1Game]" value="1" <%= row.grade1_side === 1 ? 'checked' : '' %>></td>
                            <td><input type="checkbox" name="gameSettings[<%= index %>][avgGame]" value="1" <%= row.avg_side === 1 ? 'checked' : '' %>></td>
                        </tr>
                        <% }) %>
                    </table>
                    <button type="submit">저장</button>
                </form>
            </div>
            <div class="total_ceremony">
                <form method="post" action="/queryCeremony">
                    <input type="hidden" name="queryCeremonyGameName" value="<%= gameName %>">
                    
                    <table>
                        <tr>
                            <th colspan="<%= team1st.length %>">팀 1등</th>
                            <% team1st.forEach(function(member) { %>
                                <td><%= member.userName %></td>
                            <% }) %>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">총핀</th>
                            <td colspan="<%= team1st.length %>"><%= pin1st[0]?.userName %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">슈퍼 히어로</th>
                            <td colspan="<%= team1st.length %>"><%= superHero[0]?.userName %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">1군 1등</th>
                            <td colspan="<%= team1st.length %>"><%= grade1st.grade1_1st[0] && grade1st.grade1_1st[0]?.userName || '' %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">2군 1등</th>
                            <td colspan="<%= team1st.length %>"><%= grade1st.grade2_1st[0] && grade1st.grade2_1st[0]?.userName || '' %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">3군 1등</th>
                            <td colspan="<%= team1st.length %>"><%= grade1st.grade3_1st[0] && grade1st.grade3_1st[0]?.userName || '' %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">4군 1등</th>
                            <td colspan="<%= team1st.length %>"><%= grade1st.grade4_1st[0] && grade1st.grade4_1st[0]?.userName || '' %></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">남자 하이</th>
                            <td colspan="<%= team1st.length %>"><%= manHigh?.userName || ''%></td>
                        </tr>
                        <tr>
                            <th colspan="<%= team1st.length %>">여자 하이</th>
                            <td colspan="<%= team1st.length %>"><%= womanHigh?.userName || ''%></td>
                        </tr>
                    </table>
                    <% userName.forEach((row) =>{ %>
                        <input type="hidden" name="CeremonyUserName" value="<%= row.userName %>">
                    <% }) %>
                    <button type="submit">불러오기</button>
                </form>
                
            </div>
            <div class="grade1_side">
                <table>
                    <tr>
                        <th colspan="5">1군 판게임</th>
                    </tr>
                    <tr>
                        <th>순위</th>
                        <th>1Game</th>
                        <th>2Game</th>
                        <th>3Game</th>
                        <th>4Game</th>
                    </tr>
                    <% for (let i = 0; i < 5; i++) { %>
                        <tr>
                            <th><%= i + 1 %>등</th>
                            <td><%= grade1_side.grade1_side1[i]?.userName %></td>
                            <td><%= grade1_side.grade1_side2[i]?.userName %></td>
                            <td><%= grade1_side.grade1_side3[i]?.userName %></td>
                            <td><%= grade1_side.grade1_side4[i]?.userName %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <div class="avg_side">
                <table>
                    <tr>
                        <th colspan="8">에버 판게임</th>
                    </tr>
                    <tr>
                        <th>순위</th>
                        <th>1Game</th>
                        <th>2Game</th>
                        <th>3Game</th>
                        <th>4Game</th>
                    </tr>
                    <% for (let i = 0; i < 7; i++) { %>
                        <tr>
                            <th><%= i + 1 %>등</th>
                            <td><%= avgGame.avgGame1[i]?.userName %></td>
                            <td><%= avgGame.avgGame2[i]?.userName %></td>
                            <td><%= avgGame.avgGame3[i]?.userName %></td>
                            <td><%= avgGame.avgGame4[i]?.userName %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>  
            <button id="show" class="btn3">점수 입력</button>
            <div class="background">
                <div class="window">
                    <div class="popup">
                        
                        <form method="post" action="/saveDb" id="input-score" onsubmit="return validateScores()">
                            <div class="contact_form">
                                <div>
                                    <input id="contact_name" value="" name="Game1" type="text" placeholder="ex) 200" max="300">
                                    <label for="contact_name">1Game</label>
                                </div>
                            </div>
                            <div class="contact_form">
                                <div>
                                    <input id="contact_name" value="" name="Game2" type="text" placeholder="ex) 200" max="300">
                                    <label for="contact_name">2Game</label>
                                </div>
                            </div>
                            <div class="contact_form">
                                <div>
                                    <input id="contact_name" value="" name="Game3" type="text" placeholder="ex) 200" max="300">
                                    <label for="contact_name">3Game</label>
                                </div>
                            </div>
                            <div class="contact_form">
                                <div>
                                    <input id="contact_name" value="" name="Game4" type="text" placeholder="ex) 200" max="300">
                                    <label for="contact_name">4Game</label>
                                </div>
                            </div>
                            <p>
                                <td><input type="submit" value="점수 입력" id="submit" class="btn"></td> 
                            </p>
                            <p>
                                <button id="close" class="btn2">닫기</button>
                            </p>
                            
                            <% userName.forEach((row, index) => { %>
                            <input type="hidden" name="sessionName" value="<%= row.userName %>">
                            <input type="hidden" name="sessionAvg" value="<%= row.userAvg %>">
                            <input type="hidden" name="db1Game" value="<%= row['1Game'] %>">
                            <input type="hidden" name="db2Game" value="<%= row['2Game'] %>">
                            <input type="hidden" name="db3Game" value="<%= row['3Game'] %>">
                            <input type="hidden" name="db4Game" value="<%= row['4Game'] %>">
                            <input type="hidden" name="gameName" value="<%= gameName %>">
                            <% }); %>
                        </form>
                    </div>
                <div>
                    <div></div>
                </div>
            </div>
        </div>
        
            
        <script>
            const gameCells = document.querySelectorAll('.game-cell');
            const totalCells = document.querySelectorAll('.total');
            const gamePMCells = document.querySelectorAll('.game_P_M-cell');
            const userThisAvg = document.querySelectorAll('.userThisAvg')
            const origin_game = document.querySelectorAll('.origin_game');
            origin_game.forEach(cell => {
                cell.style.backgroundColor = 'rgb(226, 220, 220)';
            })
            gameCells.forEach(cell => {
            const score = parseInt(cell.textContent);
                if(score === 300) {
                    const badge = document.createElement('span');
                    badge.className = 'badge';
                    badge.textContent = '!';
                    badge.style.color = 'gold';
                    badge.style.fontWeight = 'bold';
                    cell.style.color = 'green'; 
                    cell.style.fontWeight = 'bold';
                    
                }else if(score >= 200) {
                    cell.style.color = 'red'; 
                    cell.style.fontWeight = 'bold';
                }
                cell.style.backgroundColor = 'rgb(226, 220, 220)';
            });
            
            totalCells.forEach(cell => {
                const score = parseInt(cell.textContent);
                if(score >= 800) {
                    cell.style.color = 'red'; 
                    cell.style.fontWeight = 'bold';
                }
            });
            gamePMCells.forEach(cell => {
                const score = parseInt(cell.textContent);
                if (score >= 1) {
                    cell.style.color = 'red'; 
                    cell.textContent = `+${score}`
                }else if (score < 0) {
                    cell.style.color = 'blue'; 
                }
            })
            userThisAvg.forEach(cell => {
                const score = cell.textContent;
                if (score < 0) {
                    cell.style.color = 'blue'; 
                    cell.style.fontWeight = 'bold';
                    
                }else if (score >= 200) {
                    cell.style.color = 'red'; 
                    cell.style.fontWeight = 'bold';
                    cell.textContent = `${score}`
                }
            })
            var loginName = document.getElementsByName('sessionName')[0].value
            localStorage.setItem('userName', loginName)
            if (localStorage.getItem('userName') == loginName) {
                const tableRows = document.querySelectorAll('tr');
                tableRows.forEach(row => {
                    if (row.id === loginName) {
                    row.style.border = '2px solid red';
                    }
                });
            }

            function validateScores() {
                var game1 = parseInt(document.getElementsByName('Game1')[0].value) || 0;
                var game2 = parseInt(document.getElementsByName('Game2')[0].value) || 0;
                var game3 = parseInt(document.getElementsByName('Game3')[0].value) || 0;
                var game4 = parseInt(document.getElementsByName('Game4')[0].value) || 0;
                
                if (game1 === 0 && game2 === 0 && game3 === 0 && game4 === 0) {
                    alert('점수를 입력하세요.');
                    return false; // 폼 제출을 막음
                }
                
                return true; // 폼 제출을 허용
            }
            function show() {
                document.querySelector(".background").className = "background show";
            }

            function close() {
                document.querySelector(".background").className = "background";
            }

            document.querySelector("#show").addEventListener("click", show);
            document.querySelector("#close").addEventListener("click", close);

            function preventBack() {
                window.history.forward();
            }

            window.onload = function() {
                preventBack();
                    window.onpageshow = function(event) {
                        if (event.persisted) {
                            preventBack();
                        }
                };
            };
            
            document.getElementById("input-score").addEventListener("submit", function(event) {
                var game1Value = document.getElementsByName("Game1")[0].value;
                var game2Value = document.getElementsByName("Game2")[0].value;
                var game3Value = document.getElementsByName("Game3")[0].value;
                var game4Value = document.getElementsByName("Game4")[0].value;

            if (isNaN(game1Value) || isNaN(game2Value) || isNaN(game3Value) || isNaN(game4Value)) {
                alert("숫자만 입력 가능합니다.");
                event.preventDefault();
            } else if (game1Value > 300 || game2Value > 300 || game3Value > 300 || game4Value > 300) {
                alert("점수는 300점을 초과할 수 없습니다.");
                event.preventDefault();
            }
            });
            window.onload = function() {
            userScoreBtn.style.backgroundColor = "gray";
            teamScoreBtn.style.backgroundColor = "transparent";
            ceremonyBtn.style.backgroundColor = "transparent";
            userTable.style.display = "block";
            teamScoreTable.style.display = "none";
            ceremonyTable.style.display = "none";
            };
            const userScoreBtn = document.getElementById("userScore");
            const teamScoreBtn = document.getElementById("teamScore");
            const ceremonyBtn = document.getElementById("Ceremony");
            const userTable = document.querySelector(".user-table");
            const teamScoreTable = document.querySelector(".teamScore");
            const ceremonyTable = document.querySelector(".ceremony");

            userScoreBtn.addEventListener("click", function() {
                userTable.style.display = "block";
                teamScoreTable.style.display = "none";
                ceremonyTable.style.display = "none";

                userScoreBtn.style.backgroundColor = "gray";
                teamScoreBtn.style.backgroundColor = "transparent";
                ceremonyBtn.style.backgroundColor = "transparent";
            });

            teamScoreBtn.addEventListener("click", function() {
                userTable.style.display = "none";
                teamScoreTable.style.display = "block";
                ceremonyTable.style.display = "none";

                userScoreBtn.style.backgroundColor = "transparent";
                teamScoreBtn.style.backgroundColor = "gray";
                ceremonyBtn.style.backgroundColor = "transparent";
            });

            ceremonyBtn.addEventListener("click", function() {
                userTable.style.display = "none";
                teamScoreTable.style.display = "none";
                ceremonyTable.style.display = 'block';

                userScoreBtn.style.backgroundColor = "transparent";
                teamScoreBtn.style.backgroundColor = "transparent";
                ceremonyBtn.style.backgroundColor = "gray";
            });
        </script>
</body>
</html>
